spring:
  datasource:
    url: jdbc:h2:mem:booksdb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true

pii:
  masking:
    enabled: true
    fields:
      - email
      - phoneNumber
    mask-style: PARTIAL
    mask-character: "*"

